<h1>
  <%= gravatar_for current_user %>
  <%= current_user.name %>
</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    リクエスト一覧
  </div>
  
  <div class="panel-heading">
    <div class="col-sm-1">メニュー</div>
    <div class="col-sm-1">媒体種別</div>
    <div class="col-sm-1">開始日</div>
    <div class="col-sm-1">終了日</div>
    <div class="col-sm-3">リンク先URL</div>
    <div class="col-sm-3">生成URL</div>
    <div class="col-sm-1">発行ID</div>

    <br>
  </div>
    
  <div class="panel-body">
			<% @messages.each do |message| %>
  			  <div class="col-sm-1"><%= message.tipe %></div>
  			  <div class="col-sm-1">
  			    <% if message.media == "yahoo" %>
  			     <%= "yahoo" %>
  			    <% elsif message.media == "google" %>
  			     <%= "google"%>
  			    <% elsif message.media == "rakuten" %>
  			     <%= "楽天"%>
  			    <% elsif message.media == "Amazon" %>
  			    <%= "Amazon"%>
  			    <% end %>
  			   </div>
  			  <div class="col-sm-1"><%= message.start %></div>
  			  <div class="col-sm-1"><%= message.finish %></div>
  			  <div class="col-sm-3"><%= message.rink %></div>

			  <div class="col-sm-3"><%= message.createdurl %></div>
			  <div class="col-sm-1"><%= message.createdid %></div>

  			  <div class="col-sm-1">
            <%= link_to "編集" , edit_message_path(message), :class => "btn btn-success" %>
            <%= link_to "削除" , message_path(message) , method: :delete, data: { confirm: '削除してもよろしいですか？' }, :class => "btn btn-danger" %>
          </div>
      <% end %>
      <%= paginate @messages %>
  </div>
  
</div>

<div class="col-sm-2 form-group">
  <%= link_to "新規リクエストの作成" , new_message_path(@user), :class => "btn btn-primary" %>
</div>
<%= form_tag import_user_path(@user), method: :post, multipart: true do %>
  <div class="col-sm-4"><%= file_field_tag :csv_file, class: 'form-control' %></div>
  <div class="col-sm-2"><%= submit_tag "インポート", :class => "btn btn-primary" %></div>
<% end %>
  <div class="col-sm-4">
    <span>ダウンロード:　</span>
    <%= link_to "CSV", created_user_path(format: "csv"), class: "btn btn-primary" %>　
    <%= link_to "Excel", created_user_path(format: "xls"), class: "btn btn-primary" %>
  </div>
  
<%#= debug @message %>