<h1>
  <%= gravatar_for current_user %>
  <%= current_user.name %>
</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    リクエスト一覧
  </div>
  
  <div class="panel-heading">
    <div class="col-sm-1">広告種別</div>
    <div class="col-sm-1">媒体種別</div>
    <div class="col-sm-1">開始日</div>
    <div class="col-sm-1">終了日</div>
    <div class="col-sm-7">リンク先URL</div>

    <br>
  </div>
    
  <div class="panel-body">
			<% @messages.each do |message| %>
			  <div class="row">
  			  <div class="col-sm-1"><%= message.tipe %></div>
  			  <div class="col-sm-1">
  			    <% if message.media == "yahoo" %>
  			     <%= "yahoo" %>
  			    <% elsif message.media == "google" %>
  			     <%= "google"%>
  			    <% elsif message.media == "楽天" %>
  			     <%= "楽天"%>
  			    <% elsif message.media ==Amazon" %>
  			     <%= "Amazon"%>
  			    <% end %>
  			   </div>
  			  <div class="col-sm-1"><%= message.start %></div>
  			  <div class="col-sm-1"><%= message.finish %></div>
  			  <div class="col-sm-7"><%= message.rink %></div>
  			  <div class="col-sm-1">
            <%= link_to "編集" , edit_message_path(message), :class => "btn btn-success" %>
            <%= link_to "隠す" , message_path(current_user) , method: :delete, data: { confirm: '隠してもよろしいですか？' }, :class => "btn btn-danger" %>
            <%= link_to "削除" , message_path(current_user) , method: :delete, data: { confirm: '削除してもよろしいですか？' }, :class => "btn btn-danger" %>
          </div>
        </div>
      <% end %>
  </div>
  
</div>

<%= link_to "新規リクエストの作成" , new_message_path(@user), :class => "btn btn-primary" %>
<%= form_tag import_messages_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート", :class => "btn btn-primary" %>
<% end %>

<%= debug @message %>