<h1>
  <%= gravatar_for current_user %>
  <%= current_user.name %>
</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    生成ID一覧
  </div>
  
  <div class="panel-heading">
    <div class="col-sm-1">広告種別</div>
    <div class="col-sm-8">生成URL</div>
    <div class="col-sm-2">発行ID</div>
    <br>
  </div>
    
  <div class="panel-body">
			<% @messages.each do |message| %>
			  <div class="col-sm-1"><%= message.tipe %></div>
			  <div class="col-sm-8">
			  	<% if message.media == '1' %>
			     <% a= "yho_" %>
			    <% elsif message.media =='2'%>
			     <% a="gle_"%>
			    <% elsif message.media =='3'%>
			     <% a= "rku_" %>
			    <% elsif message.media =='4'%>
			     <% a="ama_" %>
			    <% end %>
			    <% message.createdurl = message.rink + "?" + a + message.id.to_s %>
			    <%= message.createdurl %>
			  	</div>
			  <div class="col-sm-2">
			    <% if message.media == '1' %>
			     <% a= "yho_" %>
			    <% elsif message.media =='2'%>
			     <% a="gle_"%>
			    <% elsif message.media =='3'%>
			     <% a= "rku_" %>
			    <% elsif message.media =='4'%>
			     <% a="ama_" %>
			    <% end %>
			    <% message.createdid = a + message.id.to_s %>
			    <%= message.createdid %>
				</div>
        <div class="col-sm-1">
          <%= link_to "削除" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' }, :class => "btn btn-danger" %>    
        </div>
      <% end %>
  </div>
  
</div>
<p>
  Download:
  <%= link_to "CSV", messages_path(format: "csv") %>
</p>

<%= debug @message %>