<!DOCTYPE html>
<html>
  <head>
    <title>ID Create</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
      <%= yield %>
      <%= debug  params if Rails.env.development? %>
      <%= debug  @user if Rails.env.development? %>
      <%= debug  @messages.order(id: :desc) if Rails.env.development? && @messages%>
    </div>
  </body>
</html>